
<div class="flex flex-col justify-center items-center mt-6">
  <input class="p-3 w-64 shadow-2xl border-2 border-b-blue-300" type="text" placeholder="Ingrese el Id de la pelicula" [(ngModel)]="movieData.id"/>
  <div class="flex flex-row gap-6">
    <button class="p-3 bg-sky-600 mt-3 text-white px-12 rounded-xl shadow-2xl " (click)="onSubmit()"> Buscar </button>
    <button class="p-3 bg-sky-600 mt-3 text-white px-12 rounded-xl shadow-2xl " (click)="restart()"> Mostrar Todo </button>
  </div>
</div>
<div class="flex justify-center items-center flex-row flex-wrap gap-16 mt-16">
  @for(movie of movies; track movie){
    <mat-card>
      <div>
        <img [src]="movie.getImgUrl()" alt="movie poster" width="300" />
      </div>
      <mat-card-content>
        <div class="flex flex-col">
          <h3> {{movie.getTitle()}} </h3>
          <h3> {{movie.getGenre()}}</h3>
          <h3> {{movie.getDuration()}}</h3>

        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
